version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
  # compose-go is a library, so to maximize compatibility for downstream
  # users with go's minimal version selection for dependencies we should
  # ignore version bumps and only update when there are security updates
  open-pull-requests-limit: 0
  ignore:
  - dependency-name: github.com/sirupsen/logrus
    versions:
    - 1.8.0
    - 1.8.1
  - dependency-name: github.com/google/go-cmp
    versions:
    - 0.5.5
