on: [push, pull_request]
name: Continuous integration

permissions:
  contents: read

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check license
        run: DOCKER_BUILDKIT=1 make check-license

  test:
    strategy:
      matrix:
        go-version: ['1.22', '1.21']
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 10
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        cache: true
    - uses: golangci/golangci-lint-action@v6
      with:
        version: v1.64.2
        args: --verbose
        skip-cache: true
    - name: Test
      run: go test ./...
